*{
    margin: 0;
}

body{
    width: 1200px; /* largura*/ 
    margin-left: auto; /*espaçamento externo*/
    margin-right: auto; 
    font-family: arial; /*Qual é a font*/
    line-height: 2.0;
    text-align: justify; 
}

header{  
   background-color:  #D4CCE6;
   padding-top: 60px; /*tamanho interno*/
   padding-bottom: 60px;
   text-align: center;
   font-size: 30px;
}

footer{
    background-color: #E7D3DD;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 15px;
    margin-top: 0px;

}

.texto{
    margin-bottom: 30px;
    margin-top: 30px;
}
